# Depencies required for the code to run
# These are by order of installation (ex pandas requires numpy)
# Make sure you have last versions of pip and setuptools with : "pip3 install -U pip" then "pip3 install -U setuptools" in venv
# Use command "pip install -r requirements.txt" to install

pandas==2.0.3
matplotlib==3.7.3
outlier_utils
pingouin
scipy
git+https://github.com/remicorne/statannotations
statsmodels
openpyxl
tqdm
ipykernal
# allensdk
networkx
