# Depencies required for the code to run
# These are by order of installation (ex pandas requires numpy)
# Make sure you have last versions of pip and setuptools with : "pip3 install -U pip" then "pip3 install -U setuptools" in venv
# Use command "pip install -r requirements.txt" to install

openpyxl
pandas==2.0.3
outlier_utils
matplotlib==3.7.3
pingouin
scipy
setuptools
git+https://github.com/remicorne/statannotations
statsmodels
weasyprint
networkx